html {
    min-height: 100%;
}

body {
    font-family: 'Roboto Mono', monospace;
    color: #2B2A2A;
    background-image: url(/resources/landing-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
